
<div class="inner mt-4">
  <h1>Search for places of help near you</h1>

  <%# <form class="form-inline active-purple-3 active-purple-4"> %>
    <%#   <i class="fas fa-search" aria-hidden="true"></i> %>
    <%#   <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Enter your postcode" aria-label="Search"> %>
    <%# </form> %>
  <%# </div> %>

<%= form_tag(search_path, :method => "get", :class=>"form-inline my-2 my-lg-0") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search postcode/address", class: "form-control mr-sm-2" %>

  <span class="input-group-btn"> <%= submit_tag "Search", class: 'btn btn-info' %> </span>
  <%# <i class="fas fa-search" aria-hidden="true"></i> %>
<% end %>
</div>

<div class="mt-2">
  <% if @foodbank %>
    <div class="row">
      <div class="col-8">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Distance(miles)</th>
              <th scope="col">Food Bank Name</th>
              <th scope="col">Phone Number</th>
              <th scope="col">Address</th>
            </tr>
          </thead>
          </tr>
          <% @foodbank.each do |fb| %>
            <tr>
              <td><%= fb["distance_mi"] %></td>
              <td><%= link_to fb["name"], fb["url"], target: :_blank %></td>
              <td><%= fb["phone"] %></td>
              <td><%= fb["address"] %></td>
            </tr>
          <% end %> 
        </table>
      </div>
      <%# <div class="col-4"> %>
      <%#   <div id="map"></div> %>
      <%# </div> %>
    </div>
  <% else %>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">We're here for you</h1>
        <p class="lead">using the search bar above, search for foodbanks near you.</p>
      </div>
    <% end %>
    </div>
</div>

<div style='width: 800px;'>  
  <div id="map" style='width: 800px; height: 400px;'></div>  
</div>  

<script type="text/javascript">  
  handler = Gmaps.build('Google');  
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){  
    markers = handler.addMarkers([  
      {  
        "lat": 37.3333945,  
        "lng": -121.8806499,  
        "picture": {  
          "width":  32,  
          "height": 32  
        },  
        "infowindow": "SJSU"  
      }  
    ]);  
    handler.bounds.extendWith(markers);  
    handler.fitMapToBounds();  
  });  
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA3hobH8-z40dy52GJpKCidSGSQQJFXpe8&callback=initMap" type="text/javascript"></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>  
<script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script>
<script src='//underscorejs.org/underscore-min.js' type='text/javascript'></script>
