
<div class="container search-bar mt-4">
  <h1 class="volunteer-header">Search for places of help near you</h1>

<%= form_tag(search_path, :method => "get", :class=>"form-inline my-2 my-lg-0 search-bar-input") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search postcode e.g: WC1B", class: "form-control mr-sm-2" %>

  <span class="input-group-btn"> <%= submit_tag "Search", class: 'btn btn-info' %> </span>
<% end %>
</div>

<div class="mt-2">
  <% if @foodbank %>
    <div class="container">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">How far from you(in miles)</th>
              <th scope="col">Food Bank Name</th>
              <th scope="col">Phone Number</th>
              <th scope="col">Address</th>
            </tr>
          </thead>
          </tr>
          <% @foodbank.each do |fb| %>
            <tr>
              <td><%= fb[:distance_mi] %></td>
              <td><%= link_to fb[:name], fb[:url], target: :_blank %></td>
              <td><%= fb[:phone] %></td>
              <td><%= link_to fb[:address], "https://www.google.com/maps/search/?api=1Units+20-21%2C+Rovex+Business+Park+Hay+Hall+Road+Tyseley+Birmingham+B11+2AQ", target: :_blank %></td>
            </tr>
          <% end %> 
        </table>
      <div>
      </div>
    </div>
  <% else %>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">We're here for you</h1>
        <p class="lead">using the search bar above, search for foodbanks near you.</p>
      </div>
    <% end %>
    </div>
</div>
<%= render 'shared/map' %>
